@model BilgisayarMuhendisligiTasarimi.Models.ForgotPasswordModel
@{
    ViewData["Title"] = "Şifremi Unuttum";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="auth-wrapper v3">
    <div class="auth-form">
        <div class="card my-5">
            <div class="card-body">
                <a href="/" class="d-flex justify-content-center mb-4">
                    <img src="~/dashboard/images/logo-dark.png" alt="" class="img-fluid" style="width: 200px">
                </a>
                <div class="row">
                    <div class="d-flex justify-content-center">
                        <div class="auth-header">
                            <h2 class="text-secondary">Şifremi Unuttum</h2>
                            <p class="f-16 mt-2">Şifre sıfırlama bağlantısı için email adresinizi girin</p>
                        </div>
                    </div>
                </div>
                <form asp-action="ForgotPassword" asp-controller="Auth" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-3">
                        <label asp-for="@Model.Email" class="form-label">Email</label>
                        <input asp-for="@Model.Email" class="form-control" placeholder="Email adresiniz" />
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>
                    <div class="d-grid mt-4">
                        <button type="submit" class="btn btn-secondary">Şifremi Sıfırla</button>
                    </div>
                </form>
                <div class="saprator my-3">
                    <span>VEYA</span>
                </div>
                <p class="mb-0 text-muted text-center">
                    <a href="/Auth/Login" class="f-w-400">Giriş sayfasına dön</a>
                </p>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
} 